
* {
    box-sizing: border-box;
}
body {
    text-size-adjust: none;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #212121;
}


div {
    display: block;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-position: initial;
    list-style-image: initial;
    list-style-type: none;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    list-style-type: none;
}

a {
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
}
.container {
    margin: 0 auto;
    padding: 0 14px;
    width: 100%;
    max-width: 1400px;
}

.catalogue {
    padding-bottom: 40px;
    width: 100%;
    line-height: 1.2;
}

.catalogue-products {
    width: 100%;
}
.catalogue-products__list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}
.catalogue-products__item {
    width: 25%;
    margin-right: 3.5%;
    margin-bottom: 40px;
}

.product {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    border: 1px solid #ebebeb;
    border-radius: 14px;
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 0 3px 7px 0 rgb(221 237 241 / 35%);
    transition: 0.3s;
}

.product-img {
    min-height: 273px;
}

.product-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    background: white no-repeat center;
    background-size: cover;
}
.product-img > img {
    display: block;
    width: 100%;
    height: auto;
}

.product-img > a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: inline-block;
    outline: none;
    transition: 0.15s;
}


.product-desc {
    position: relative;
    display: flex;
    flex: 1 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    padding: 26px 16px 16px 16px;
    font-size: 14px;
    color: #949599;
}


.product .product-top .product-name span {
    float: left;
}

.product-name {
    font-size: 18px;
    font-weight: 700;
    word-break: break-word;
    color: #303030;
}

.product-text {
    overflow: hidden;
    display: block;
    font-size: 13px;
    height: 82px;
    line-height: 1.3;
    text-overflow: ellipsis;
}

.product-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6px;
    padding-top: 4px;
}

.product-btn {
    overflow: hidden;
    position: relative;
    padding: 0.3em 2.0em;
    font-size: 19px;
    letter-spacing: 0.05em;
    box-shadow: 0 17px 20px -14px rgb(88 206 71 / 70%);
}

.product-sum {
    font-size: 18px;
    line-height: 21px;
    font-weight: bold;
    color: #2e2f33;
}


.product .product-top .product-name:after {
    clear: both;
    content: ' ';
    display: block;
}



img {
    border-style: none;
}
