body {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    text-size-adjust: none;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #212121;
}

article, aside, footer, header, nav, section {
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

.commodity {
    font-size: 16px;
    margin-bottom: 8px;
}

.container {
    margin: 0 auto;
    padding: 0 14px;
    width: 100%;
    max-width: 1200px;
}

.commodity-main {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.desktop-only-fl {
    display: flex;
}

.commodity-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 48.5%;
}

.commodity-gallery__img.image-root {
    min-height: 470px !important;
}

.image-root {
    border: none;
    padding-top: calc(100% - 13px) !important;
}

.commodity-gallery__img {
    max-height: initial;
    background-color: transparent;
    box-shadow: none;
}

.commodity-gallery__img {
    overflow: hidden;
    position: relative;
    display: block;
    border-radius: 12px;
    padding: 12px;
    width: 100%;
    background: white no-repeat center;
    background-size: contain;
}

commodity-gallery__img > div:first-child {
    background: white no-repeat center;
    background-size: cover;
   
}

.image-containet {
    position: absolute !important;
    left: 0px !important;
    right: 0px !important;
    top: 0px !important;
    width: 100% !important;
    transform: initial !important;
    border: 1px solid #ebebeb !important;
    border-radius: 12px !important;
    overflow: hidden !important;
    height: auto !important;
    box-shadow: 0 3px 7px 0 rgb(221 237 241 / 35%);
}


.commodity-info {
    border: none;
    width: 48.5%;
}

.commodity-info__base {
    display: flex;
    justify-content: space-between;
}

#complement-list {
    display: flex;
        flex-direction: row;
    justify-content: flex-start;
}

li.complement-item{
    display:block;
}


