<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PizzaShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PizzaShop.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="header">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div>
                    <a class="link-home" asp-area="" asp-controller="Home" asp-action="Index">Menu</a>
                </div>
                <div>
                    <ul class="header-top__menu-list">
                        <li class="header-top__menu-item no-line">
                            <button class="header-search-toggle">
                                <img class="icon-search" id="search" />
                            </button>
                        </li>
                        <li class="header-top__menu-item no-line">
                            <button class="header-heart-toggle">
                                <img class="icon-heart" id="heart" />
                            </button>
                        </li>
                        <li class="header-top__menu-item no-line">
                            <button class="header-user-toggle">
                                <img class="icon-user" id="user" />
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - PizzaShop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<script>
    search.onmouseover = function () {
        search.style.backgroundImage = "url('/Pictures/icons/search_after.png')";
    }

    search.onmouseout = function () {
        search.style.backgroundImage = "url('/Pictures/icons/search_before.png')";
    }

    heart.onmouseover = function () {
        heart.style.backgroundImage = "url('/Pictures/icons/icon_heart_after.png')";
    }

    heart.onmouseout = function () {
        heart.style.backgroundImage = "url('/Pictures/icons/icon_heart_before.png')";
    }

    user.onmouseover = function () {
        user.style.backgroundImage = "url('/Pictures/icons/icon_user_after.png')";
    }

    user.onmouseout = function () {
        user.style.backgroundImage = "url('/Pictures/icons/icon_user_before.png')";
    }
</script>
