@model IEnumerable<PizzaShopWebApp.Models.Pizza>



<!DOCTYPE html>

<html>
<head>
    <title> Shop Pizza</title>
    <link type="text/css" rel="stylesheet" href="~/css/index.css" />
</head>
<body>
    <div class="container">
        <h3>Pizzas</h3>
        <div class="catalogue-products">
            <form method="post" class="catalogue">
                <ul class="catalogue-products__list">
                    @foreach (var pizza in Model)
                    {
                        <li class="catalogue-products__item">
                            <div class="product">
                                <input type="hidden" value="@ViewBag.Id" name="Id" />
                                <div class="product-img">
                                    <img src=@pizza.Image name="Image" />
                                </div>
                                <div class="product-desc">
                                    <div class="product-top">
                                        <a class="product-name" href="~/Home/Show/@pizza.Id"></a>
                                        <span name="Name">@pizza.Name </span>
                                    </div>

                                    <p name="Price">$ @pizza.Price </p>
                                    <p name="Description">@pizza.Description</p>
                                    <div class="product-bottom">
                                        <a class="btn btn-primary" role="button" href="~/Home/Show/@pizza.Id">Show</a>
                                        <a class="btn btn-primary" role="button" href="~/Home/Buy/@pizza.Id">Buy</a>
                                    </div>
                                </div>
                            </div>
                        </li>

                    }
                </ul>
            </form>
        </div>
    </div>
    
   

</body>
</html>