@model IEnumerable<PizzaShopWebApp.Models.Pizza>

@{
    int index = (int)@ViewData["PizzaId"];
    //string pathPizza = "../" + $"{@Model.ElementAt(index).Image}";
    string pathPizza =$"{@Model.ElementAt(index).Image}";
}
<!DOCTYPE html>

<html>
<head>
    <title> Shop Pizza</title>
</head>
<body>
    <h2>@Model.ElementAt(@index).Name</h2>
    <div>
        <img src=@pathPizza />
        <p>$ @Model.ElementAt(@index).Price </p>
        <p>@Model.ElementAt(@index).Description</p>
        <p>
            <a class="btn btn-primary" role="button" href="~/Home/Buy/@Model.ElementAt(@index).Id">Buy</a>
        </p>
    </div>
</body>
</html>
