@model IEnumerable<PizzaShopWebApp.Models.Pizza>

<!DOCTYPE html>

<html>
<head>
    <title> Shop Pizza</title>
</head>
<body>
    <h2>@Model.ElementAt((int)ViewData["PizzaId"]).Id</h2>
    <div>
        <img src=@Model.ElementAt((int)ViewBag.PizzaId).Image />
        <p>$ @Model.ElementAt((int)ViewBag.PizzaId).Price </p>
        <p>@Model.ElementAt((int)ViewBag.PizzaId).Description</p>
        <p>
            <a class="btn btn-primary" role="button" href="~/Home/Buy/@Model.ElementAt((int)ViewBag.PizzaId).Id">Buy</a>
        </p>
    </div>
</body>
</html>
