@*@model PizzaShopWevApp.*@

<!DOCTYPE html>

<html>
<head>
    <title> Shop Pizza</title>
</head>
<body>
    <h2>@Model.Name</h2>
    <div>
        <img src=@Model.Image />
        <p>$ @Model.Price </p>
        <p>@Model.Description</p>
        <p>
            <a class="btn btn-primary" role="button" href="~/Home/Buy/@Model.Id">Buy</a>
        </p>
    </div>
</body>
</html>
